# Database Configuration
DB_1=YourDatabase1
DB_2=YourDatabase2
DB_3=YourDatabase3
SQL_SERVER=YourSQLServerInstance
#SQL_USERNAME=YourSQLUsername
#SQL_PASSWORD=YourSQLPassword

JOB_NAME=YourJobName

# S3 Configuration
PROVIDER=YourS3Provider
ACCESS_KEY=YourS3AccessKey
SECRET_KEY=YourS3SecretKey
ENDPOINT=YourS3Endpoint
BUCKET_NAME=YourS3BucketName

# Telegram Configuration
BOT_TOKEN=YourBotToken
CHAT_ID=YourChatID

# Paths and Executables
#RCLONE_PATH=C:\Path\To\rclone.exe